

header .container {



    display: flex;

    justify-content: space-between;

}

 
.team-heading {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    
}

.container-images span {
    writing-mode: vertical-lr;
vertical-align: top;
}
 
img {
    border-radius: 5%;
}

footer {
    border: 1px solid green;
    text-align: center;
    align-content: center;

}

.section .container {
    display: flex;
    flex-direction: row;

}
.images {
    display: flex;
    justify-content: flex-start;
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: row;
}

@media only screen (min-width: 768px){

    }
  