

header .container {



    display: flex;

    justify-content: space-between;

}

 
.team-heading {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    
}

.container-images span {
    writing-mode: vertical-lr;
vertical-align: top;
}
 
img {
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
}

footer {
    border: 1px solid green;
    text-align: center;
    align-content: center;

}

.section .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.images {
    display: flex;
    justify-content: flex-start;
    margin: 50px;
}


.container {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

@media all and (max-width: 992px) {
    body {
        color green
    }
}
  